In [7]:
import pandas as pd
fp = "../../data/q2_2016_ticket_resolution_data.csv"
df = pd.read_csv(fp)
df.head()

       number       sys_created_at            closed_at assignment_group
0  INC0000045  2016-02-29 01:23:00  2016-05-03 12:00:00         Group 56
1  INC0000047  2016-02-29 04:57:00  2016-06-03 10:00:00         Group 24
2  INC0000062  2016-02-29 07:26:00  2016-05-03 16:00:00         Group 23
3  INC0000063  2016-02-29 07:17:00  2016-05-03 17:00:00         Group 23
4  INC0000071  2016-02-29 08:17:00  2016-06-03 11:00:00         Group 24

In [8]:
fpdtypes = "../../data/ticket_resolution_dtypes.csv"
dtypes_df = pd.read_csv(fpdtypes)
dtypes_dict = {row["attribute"]: row["type"] for index, row in dtypes_df.iterrows()}
df = df.astype(dtypes_dict)
df = df.reset_index()

In [9]:
df.dtypes

index                        int64
number                      object
sys_created_at      datetime64[ns]
closed_at           datetime64[ns]
assignment_group            object
dtype: object

In [14]:
Q2_2016 = (df["sys_created_at"].dt.year == 2016) & (df["sys_created_at"].dt.quarter == 2)
df = df[Q2_2016]
df["day_of_year"] = df.sys_created_at.dt.day_of_year

In [21]:
import dtale
dtale.show(df)